* {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}
