* {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

section,
footer {
    flex-direction: column;
}

.wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}
