$color-1: #000000;
$color-2: #FFFFFF;
$color-3: #000000;
$color-4: #000000;
$color-5: #000000;
$color-6: #000000;
$color-7: #000000;
$color-8: #000000;
$color-9: #000000;
$color-10: #000000;
$color-11: #000000;
$color-12: #000000;
