footer {
    padding: 46px 0 41px;

    .logo {
        margin-bottom: 37px;
        transform: translate(-3px, -8px);
        font-size: 32.49px;
        font-weight: 200;

        &::before {
            transform: translate(1px, 4px);
        }
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 75%;
        margin-bottom: 33px;
        margin-left: 0;

        a {
            margin: 0 5px 9px;
        }
    }

    .copyright {
        margin-left: -7px;
    }
}
