.about {

    .wrap {
        width: 990px;

        .content .list .item {
            margin-bottom: 30px;

            &:nth-child(even) {
                margin-left: 0;
            }
        }
    }
}
